
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

}


img {
  height: 60px;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
